{
	http_port 8080
	https_port 8443
	email root@ffmpeg.org
}

code.ffmpeg.org {
	log {
		output stderr
		format console
	}

	@captchaNotPassed {
		not header Cookie *CaptchaPassed=*
		path_regexp ^/user/sign_up/?$
	}

	@captchaPassed {
		path /user/sign_up/ffmpeg_two
	}

	handle @captchaNotPassed {
		header Cache-Control "no-cache, no-store, must-revalidate"
		root * /etc/caddy/captcha/
		file_server
	}

	handle @captchaPassed {
		header Set-Cookie "CaptchaPassed=true; Path=/; HttpOnly; Max-Age=1800"
		redir * /user/sign_up
	}

	handle /robots.txt {
		root * /etc/caddy/
		file_server
	}

	reverse_proxy forgejo:3000
}
